/* header and global styles */
header, nav, h1, h2, h3, h4, h5, h6, p, #emailButton {
  font-family: 'Open Sans', sans-serif;
}

header, nav, h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

h1 {
  font-size: 50px;
  text-decoration: none;
  color: #0a0a0a;
  margin: 0;
}

a:visited {
  color: #0a0a0a;
}

h1 a:hover {
  color: #00ff9f;
  text-decoration: none;
  transition-duration: 0.4s;
}

h2, h3 {
  text-align: center;
}

h2 {
  text-decoration: none;
  font-size: 30px;
}

h3 {
  font-size: 25px;
}

h6 {
  font-size: 12px;
}

p {
  font-size: 18px;
  line-height: 1.6;
}

header, footer {
  background-color: #0a0a0a;
  color: #00ff9f;
  font-size: 13px;
  padding: 20px 20px;
  border-top: solid 3px;
  border-top-color: #00ff9f;
}

header, footer, .hero {
  border-bottom: solid 3px;
  border-bottom-color: #00ff9f;
}

header {
  height: 45px;
}

.header-icons {
  display: inline;
  float: right;
  justify-content: space-around;
  padding-right: 10px;
}

.social-icons a {
  font-size: 20px;
  color: #00ff9f;
  text-decoration: none;
  padding: 5px;
}

.social-icons a:hover {
  color: #fdfdfd;
  transition-duration: 0.6s;
  text-decoration: none;
  padding: 5px;
}

.fa {
  font-size: 30px;
  width: 25px;
  text-align: right;
}

/* navigation specific */
section {
  background-color: #fdfdfd;
}

nav {
  font-size: 20px;
  padding: 10px;
  width: auto;
  display: flex;
  overflow: auto;
  justify-content: space-between;
}

#logo-hero {
  height: 90px;
}

.hero {
  height: 89vh;
}

.hero a {
  color: #0a0a0a;
  padding: 20px;
  text-decoration: none;
}

.hero a:hover {
  color: #00ff9f;
  transition-duration: 0.4s;
}

.hero-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.hero-text {
  margin-top: -100px;
  margin-left: 40px;
}

.hero-sub-text {
  line-height: 0;
}

ul {
  list-style-type: none;
  display: flex;
}

/* main body */
body {
  background-color: #fdfdfd;
}

.content-section {
  padding: 20px;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

/* project section specific */
.project-card {
  width: 290px;
  height: 600px;
  box-shadow: 1px 1px 10px #00ff9f;
  margin: 10px;
  background-color: #fafafa;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-card-text {
  font-size: 18px;
  text-align: center;
}

.project-card-description {
  font-size: 16px;
  text-align: left;
  /* line-height: 1.6; */
  padding: 10px 30px;
}

.project-image {
  margin-top: 25px;
  height: 200px;
  width: 200px;
  padding: 0px 50px 0px 50px;
  border-radius: 15px;
}

hr {
  margin: 0px 30px 0px 30px;
  border: 1px solid #00ff9f;
}

.project-link {
  text-decoration: none;
  color: #0a0a0a;
}

.project-link:hover {
  color: #00ff9f;
  transition-duration: 0.4s;
}

#media-column {
  text-align: center;
}

.footer-column {
  flex: 33%;
  padding: 10px;
}

.funding-logo-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.funding-logo-irc {
  height: 70px;
  padding: 10px;
  color: #0a0a0a;
  filter: invert(100%);
  justify-content: center;
  align-items: center;
}

.funding-logo-dkit {
  height: 90px;
  padding: 10px;
  color: #0a0a0a;
  filter: grayscale(100%) brightness(0%);
  justify-content: center;
  align-items: center;
}

.picture-container {
  display: block;
  margin-top: 50px;
  width: 100%;
  border-radius: 7%;
  filter: grayscale(70%);
  justify-content: center;
  align-items: center;
}

/* footer specific */
footer {
  text-align: center;
}

#blos-logo-footer {
  float: center;
  height: 120px;
}

/* contact specific */
#contact {
  text-align: center;
}

button {
  background-color: #00ff9f;
  border: 3px solid #0a0a0a;
  color: #0a0a0a;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  transition: 0.4s;
}

button:hover {
  background-color: #0a0a0a;
  color: #00ff9f;
  border-color: #00ff9f;
}

#email-button {
  text-decoration: none;
  color: #0a0a0a;
}

#email-button:hover {
  text-decoration: none;
  color: #00ff9f;
}

#blosmap {
  border: 3px solid #0a0a0a;
  width: 90%;
  height: 300px;
}

/* mobile specific */
.hamburger {
  display: none;
}

/* media queries for smaller screens */
@media only screen and (max-width: 1200px) {
  .header-icons {
    display: none;
  }

  header {
    display: none;
  }

  .picture-container {
    margin-top: 0px;
  }

  .row {
    flex-wrap: wrap;
  }

  .column, .footer-column {
    flex: 100%;
  }

  .project-container {
        display: flex;
        flex-wrap: wrap;
    }

  .footer-column {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .social-icons a {
    float: center;
  }

  .hamburger {
    display: block;
    justify-content: flex-end;
    border: 0;
    background-color: transparent;
    font-size: 30px;
    margin: 10px;
    color: #00ff9f;
  }

  .hamburger:hover {
    background-color: transparent;
    color: #00ff9f;
  }

  ul {
    display: none;
    margin: 0;
  }

  ul.show {
    display: block;
  }

  nav {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    color: #00ff9f;
    background-color: #0a0a0a;
  }

  li {
    padding: 5px;
    font-size: 30px;
  }

  .hero {
    height: 97vh;
    border-top: solid 3px;
    border-top-color: #00ff9f;
  }

  .hero-area {
    border-top: solid 3px;
    border-top-color: #00ff9f;
  }

  .hero a {
    color: #00ff9f;
  }

  #logo-hero {
    display: none;
  }

}
