/* header and global styles */
header, nav, h1, h2, h3, h4, h5, h6, p, #emailButton {
  font-family: 'Open Sans', sans-serif;
}

header, nav, h1, h2, h3, h4, h5, h6 {
  font-weight: bolder;
}

header, nav, h2, h3 {
  font-size: 16px;
}

h1 {
  font-size: 30px;
  text-decoration: none;
  color: #000;
}

h1:hover {
  color: #00ff9f;
  text-decoration: none;
  transition-duration: 0.4s;
}

h2, h3 {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

h6 {
  font-size: 12px;
}

header, footer {
  background-color: #000;
  color: #00ff9f;
  font-size: 13px;
  padding: 20px 20px;
  border-top: solid 3px;
  border-top-color: #00ff9f;
}

header, footer, nav {
  border-bottom: solid 3px;
  border-bottom-color: #00ff9f;
}

header {
  padding-left: 20px;
}

.headerLeft {
  float: left;
}

.headerRight {
  float: right;
}

.socialIcons a {
  font-size: 20px;
  float: left;
  color: #00ff9f;
  text-decoration: none;
  padding: 5px;
}

.socialIcons a:hover {
  color: #fff;
  transition-duration: 0.6s;
  text-decoration: none;
  padding: 5px;
}

.fa {
  font-size: 30px;
  width: 25px;
  text-align: right;
}

/* navigation specific */
nav {
  background-color: #fff;
  color: #000;
  padding: 10px;
  width: auto;
  overflow: auto;
}

#BLOS_Logo_Header {
  width: 150px;
  height: 90px;
}

.navLeft {
  float: left;
  color: #000;
  text-decoration: none;
}

.navRight a {
  float: right;
  color: #000;
  padding: 20px;
  text-decoration: underline;
}

.navLeft a:hover {
  color: #00ff9f;
  transition-duration: 0.4s;
}

.navRight a:hover {
  color: #00ff9f;
  transition-duration: 0.4s;
}

ul {
  list-style-type: none;
  display: inline;
}

/* main body */
body {
  background-color: #fff;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 10px;
}

#mediaColumn {
  text-align: center;
}

.footerColumn {
  flex: 33%;
  padding: 10px;
}

.pictureContainer {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  border-radius: 3%;
  filter: grayscale(60%);
}

/* footer specific */
footer {
  text-align: center;
}

#BLOS_Logo_Footer {
  float: center;
  width: 220px;
  height: 120px;
}

/* contact specific */
#contact {
  text-align: center;
}

button {
  background-color: #00ff9f;
  border: 3px solid #000;
  color: #000;
  padding: 5px;
  font-size: 20px;
  border-radius: 20px;
  transition: 0.4s;
}

button:hover {
  background-color: #000;
  color: #00ff9f;
  border-color: #00ff9f;
}

#emailButton {
  text-decoration: none;
  color: #000;
}

#emailButton:hover {
  text-decoration: none;
  color: #00ff9f;
}

#blosmap {
  /* text-align: center; */
  border: 3px solid #000;
  width: 450px;
  height: 300px;
}

/* media queries for smaller screens */
@media screen and (max-width: 600px) {
  .headerRight {
    display: none;
  }

  .row {
    flex-wrap: wrap;
  }

  .column, .footerColumn {
    flex: 100%;
  }

  .footerColumn {
    display: flex;
    justify-content: center;
    align-items: center;
}
  .socialIcons a {
    float: center;
  }

  #blosmap {
    width: 200px;
    height: 200px;
  }
}
